@model GALU_ERP.Entidades.pedido_c

<section class="content-header">
    <h1>
        Detalles
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard">&nbsp;</i>@Html.ActionLink("Dashboard", "Index", "Home", null, null)</li>
        <li>@Html.ActionLink("Pedidos", "Index", "pedido_c", null, null)</li>
        <li><a href="#">Detalles</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle Producto</h3>
                </div>
                <div class="box-body">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.cliente.Razon_Social)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cliente.Razon_Social)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Destino)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Destino)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Fecha_A)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Fecha_A)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Tipo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Tipo)
                            </dd>
                            <dt>
                             Estado
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.estado_ped.NombreE)
                            </dd>
                            <dt>
                               Forma Pago
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.forma_pago1.Tipo)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Total)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Total)
                            </dd>

                        </dl>
                    </div>

                    <br />

                    <div class="container-fluid">
                        <div class="FooterDetails">
                            <p>
                                @Html.ActionLink("Editar", "Edit", new { id = Model.Num_ped }, new { @class = "btn btn-warning btn-sm" }) |
                                @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-sm bg-navy" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

