@model GALU_ERP.Entidades.pedido_c

@{
    ViewBag.Title = "Editar";
}

<section class="content-header">
    <h1>
        Editar
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard">&nbsp;</i>@Html.ActionLink("Dashboard", "Index", "Home", null, null)</li>
        <li>@Html.ActionLink("Pedidos", "Index", "pedido_c", null, null)</li>
        <li><a href="#">Editar</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Alta Producto</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        <div class="panel-body">
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true)

                                <div class="col-md-4">

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.idCliente, "Razón Social", htmlAttributes: new { @class = "control-label" })
                                            <br />
                                            @Html.DropDownListFor(model => model.idCliente, null, "", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.idCliente, null, new { @class = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label" })
                                            <br />
                                            @*@Html.EditorFor(model => model.Nombre)*@
                                            @Html.TextBoxFor(model => model.Destino, new { @class = "form-control", })
                                            @Html.ValidationMessageFor(model => model.Destino, null, new { @class = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Estado, "Estado", htmlAttributes: new { @class = "control-label" })
                                            <br />
                                            @Html.DropDownListFor(model => model.Estado, null, "", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Estado, null, new { @class = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Forma_pago, "Forma Pago", htmlAttributes: new { @class = "control-label" })
                                            <br />
                                            @Html.DropDownListFor(model => model.Forma_pago, null, "", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Forma_pago, null, new { @class = "required" })
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="Button btn-group" style="float:right">
                                                <input id="btnSubmit" type="submit" value="Guardar" class="btn btn-sm bg-olive" />
                                                @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-sm bg-navy" })
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    }

                    @*<div class="container-fluid">
                        <div class="col-md-4">
                            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-sm bg-navy" })
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

