@model IEnumerable<GALU_ERP.Entidades.pedido_c>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.Razon_Social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_ped.NombreE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.forma_pago1.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.Razon_Social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_ped.NombreE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.forma_pago1.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Num_ped }) |
            @Html.ActionLink("Details", "Details", new { id=item.Num_ped }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Num_ped })
        </td>
    </tr>
}

</table>
