@model GALU_ERP.Entidades.cliente

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="Cabecera">
                @{
                    ViewBag.Title = "Delete";
                }

                <h2>Borrar</h2>

                <h3>Estás seguro de que quieres eliminar?</h3>
            </div>
        </div>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Razon_Social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razon_Social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poblacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poblacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado1.Nombre)
        </dd>*@

    </dl>
    <br />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

       
            <div class="FooterDetails">
                <p>
                    <input type="submit" value="Eliminar" class="btn btn-default" style="background-color:red" /> |
                    @Html.ActionLink("Volver a la lista", "Index", "", new { @class = "btn btn-default" })

                </p>              
            </div>
       
       
    }
</div>
