@model IEnumerable<GALU_ERP.Entidades.cliente>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="container-fluid">
                <div class="Cabecera">
                    @{
                        ViewBag.Title = "Index";
                    }

                    <h2>Clientes</h2><span>@Html.ActionLink("Nuevo", "Create", "", new { @class = "btn btn-primary btn-sm" })</span>
                </div>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Razon_Social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poblacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado1.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Razon_Social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poblacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCli }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCli }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCli })
        </td>
    </tr>
}

</table>
