@model GALU_ERP.Entidades.contacto

<section class="content-header">
    <h1>
        Editar
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard">&nbsp;</i>@Html.ActionLink("Dashboard", "Index", "Home", null, null)</li>
        <li>@Html.ActionLink("Contactos", "Index", "contactos", null, null)</li>
        <li><a href="#">Editar</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Alta Producto</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        <div class="panel-body">
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true)

                                <div class="col-md-3">

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" }):
                                            @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "required" })
                                            <br />
                                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Origen, htmlAttributes: new { @class = "control-label" }):
                                            @Html.ValidationMessageFor(model => model.Origen, null, new { @class = "required" })
                                            <br />
                                            @*@Html.EditorFor(model => model.Nombre)*@
                                            @Html.TextBoxFor(model => model.Origen, new { @class = "form-control", })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Producto, htmlAttributes: new { @class = "control-label" }):
                                            @Html.ValidationMessageFor(model => model.Producto, null, new { @class = "required" })
                                            <br />
                                            @Html.TextBoxFor(model => model.Producto, null, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" }):
                                            @Html.ValidationMessageFor(model => model.Telefono, null, new { @class = "required" })
                                            <br />
                                            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label" }):
                                            @Html.ValidationMessageFor(model => model.Mail, null, new { @class = "required" })
                                            <br />
                                            @*@Html.EditorFor(model => model.Nombre)*@
                                            @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="Button btn-group" style="float:right">
                                            <input id="btnSubmit" type="submit" value="Guardar" class="btn btn-sm bg-olive" />
                                            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-sm bg-navy" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>

