@model GALU_ERP.Entidades.contacto

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="container-fluid">
                <div class="Cabecera">
                    @{
                        ViewBag.Title = "Edit";
                    }

                    <h2>Editar</h2>
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>contacto</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idCONTACTO)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Origen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Origen)
                @Html.ValidationMessageFor(model => model.Origen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producto)
                @Html.ValidationMessageFor(model => model.Producto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    @Html.ActionLink("Volver a la lista", "Index", "", new { @class = "btn btn-primary btn-sm" })
</div>
