@model IEnumerable<GALU_ERP.Entidades.contacto>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="container-fluid">
                <div class="Cabecera">
                    @{
                        ViewBag.Title = "Index";
                    }

                    <h2>Contactos</h2><span>@Html.ActionLink("Nuevo", "Create", "", new { @class = "btn btn-primary btn-sm" })</span>
                </div>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCONTACTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCONTACTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCONTACTO })
        </td>
    </tr>
}

</table>
