@model GALU_ERP.Entidades.usuario

<section class="content-header">
    <h1>
        Editar
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard">&nbsp;</i>@Html.ActionLink("Dashboard", "Index", "Home", null, null)</li>
        <li><a href="#">Editar</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle Usuario</h3>
                </div>
                <div class="box-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        <div class="panel-body">
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.id)
                                @Html.HiddenFor(model => model.Rol)

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.Nombre)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.Apellidos)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.Telefono)
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.Rol, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("Rol", String.Empty)
                                                @Html.ValidationMessageFor(model => model.Rol)
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.UserName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="col-md-6">
                                    <img class="img" src="~/dist/img/@Model.Imagen"  style="max-width:150px;max-height:200px"/>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <input class="foot_btn" type="file" name="Imagen" accept="image/*" onchange="readUrl(this)" />
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="Button btn-group" style="float:right">
                                            <input id="btnSubmit" type="submit" value="Guardar" class="btn btn-sm bg-olive" />
                                            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-sm bg-navy" })
                                        </div>

                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-12">
                                        <label style="color:red">@ViewBag.FailId</label>
                                        @*<input class="foot_btn" type="file" name="Imagen" accept="image/*" />
                                            @Html.ValidationMessageFor(model => model.Imagen)
                                    </div>
                                </div>*@
                            </div>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

    <script>

    function readUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.img')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    </script>



</section>

