@model GALU_ERP.Entidades.proveedor

<section class="content-header">
    <h1>
        Detalles
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Gestión</a></li>
        <li><a href="#">Proveedores</a></li>
        <li><a href="#">Detalles</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle Producto</h3>
                </div>
                <div class="box-body">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.RazonSocial)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RazonSocial)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NIF)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NIF)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NIF_R)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NIF_R)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Domicilio)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Domicilio)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CP)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CP)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Poblacion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Poblacion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Provincia)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Provincia)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Pais)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Pais)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Fecha_A)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Fecha_A)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Imagen)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Imagen)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.estado1.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.estado1.Nombre)
                            </dd>

                        </dl>
                    </div>

                    <br />

                    <div class="container-fluid">
                        <div class="FooterDetails">
                            <p>
                                @Html.ActionLink("Editar", "Edit", new { id = Model.idProv }, new { @class = "btn btn-warning btn-sm" }) |
                                @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-sm bg-navy" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
