





<ul class="nav navbar-nav">

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Gestión <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Productos", "Index", "articuloes")</li>
            <li>@Html.ActionLink("Clientes", "Index", "clientes")</li>
            <li>@Html.ActionLink("Proveedores", "Index", "proveedores")</li>
            <li>@Html.ActionLink("Contactos", "Index", "contactos")</li>
            <li class="divider"></li>
            @*<li role="presentation" class="dropdown-header">Tickets</li>*@
            <li>@Html.ActionLink("Tarifas", "Index", "TicketArea")</li>
           
        </ul>
    </li>

</ul>
