@model GALU_ERP.Entidades.articulo

<section class="content-header">
    <h1>
        Detalles
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Gestión</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Detalles</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle Producto</h3>
                </div>
                <div class="box-body">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Nombre):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Peso):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Peso)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Tipo):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Tipo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Precio):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Precio)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IVA):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IVA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Descripcion):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Origen):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Origen)
                            </dd>

                            <dt>
                               Estado:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.estado1.Nombre)
                            </dd>

                        </dl>
                    </div>

                    <br />

                    <div class="container-fluid">
                        <div class="FooterDetails">
                            <p>
                                @Html.ActionLink("Editar", "Edit", new { id = Model.idArt }, new { @class = "btn btn-warning btn-sm" }) |
                                @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-sm bg-navy" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>






