@model GALU_ERP.Entidades.articulo




<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="Cabecera">
                @{
                    ViewBag.Title = "Details";
                }

                <h2>Detalles</h2>

            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
    <div class="col-sm-12">
        <div class="Cabecera">
            @{
                ViewBag.Title = "Details";
            }

            <h2>Detalles</h2>

        </div>
    </div>
</div>*@




<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado1.Nombre)
        </dd>

    </dl>
</div>

<br />

<div class="container-fluid">
    <div class="FooterDetails">
        <p>
           @* @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary btn-sm" })*@
            @Html.ActionLink("Editar", "Edit", new { id = Model.idArt }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Volver", "Index","", new { @class = "btn btn-primary btn-sm" })
        </p>
    </div>
</div>


